.row-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  > div {
  }
}

.head-tail-field1 {
  margin-top: 6px;
  margin-bottom: unset;
  display: block;
}

.head-tail-field2 {
  margin-top: 40px;
  margin-bottom: unset;
  display: block;
}

.ant-form-item-control-input-content {
  margin-left: 20px;
}
