.home-sider-childrens {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 70px;
  button {
    margin: 0 auto;
    display: block;
  }
}

.home-nav-bar {
  background-color: #fff23f;
}
.spin {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.logout {
  float: right;
}

.my-button {
  display: inline-block;
  box-shadow: 5px 5px 15px #a4aab7;
  z-index: 2;
  bottom: 30px;
  left: 110px;
  position: fixed;
}
.ant-page-header-ghost {
  background-color: gainsboro;
}
