.home-sider-childrens {
    padding-left: 10px;
    padding-right: 10px;
}

.home-nav-bar {
    background-color: #fff23f;
}
 .spin {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }
  .logout {
    float: right;
  }
